############################################################
#                 DATABASE (PostgreSQL)
############################################################
POSTGRES_USER=user
POSTGRES_PASSWORD=passwd
POSTGRES_DB=db


############################################################
#                   JWT / AUTH
############################################################
SESC_JWT_SECRET=secret


############################################################
#                         MINIO
############################################################
SESC_MINIO_ACCESS_KEY=access
SESC_MINIO_SECRET_KEY=secret


############################################################
#                           LDAP
############################################################
SESC_LDAP_BIND_PASSWORD=admin


############################################################
#                    TRAEFIK / DOMAINS
############################################################
DOMAIN=sesc-fiit.ru
TRAEFIK_EMAIL=admin@sesc-fiit.ru
TRAEFIK_DASHBOARD_USER=admin
TRAEFIK_DASHBOARD_PASSWORD=$$2y$$10$$somehashed_password_here

############################################################
#                   MINIO CREDENTIALS
############################################################
SESC_MINIO_ROOT_USER=minioadmin
SESC_MINIO_ROOT_PASSWORD=changeme123
