# Kamal secrets file
# This file contains sensitive information and should not be committed to version control

# Database configuration
POSTGRES_PASSWORD=postgres
SESC_DATABASE_ADDRESS=postgres://user:password@host:5432/db?sslmode=disable

# MinIO credentials
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
SESC_MINIO_ACCESS_KEY=minioadmin
SESC_MINIO_SECRET_KEY=minioadmin
SESC_MINIO_ENDPOINT=minio:9000
SESC_MINIO_USE_SSL=false
SESC_MINIO_BUCKET_NAME=sesc-files
SESC_MINIO_BASE_URL=https://s3.sesc-fiit.ru/sesc-files

# JWT secret
SESC_JWT_SECRET=your_secret_key_here

# Admin credentials
SESC_ADMIN_CREDENTIALS_0_ID=f1157f63-65dc-4c3d-bcb2-4d6d55d2e3fd
SESC_ADMIN_CREDENTIALS_0_USERNAME=admin
SESC_ADMIN_CREDENTIALS_0_PASSWORD=admin

# HTTP configuration
SESC_HTTP_SERVER_ADDRESS=:8080
SESC_HTTP_READ_HEADER_TIMEOUT=300ms
SESC_HTTP_READ_TIMEOUT=10s
SESC_HTTP_WRITE_TIMEOUT=10s

# Deletion daemon configuration
SESC_DELETION_DAEMON_ENABLED=true
SESC_DELETION_DAEMON_INTERVAL=24h
SESC_DELETION_DAEMON_DELAY=24h

# Docker Registry password (not needed for local images)
KAMAL_REGISTRY_PASSWORD=ghtoken

# GitHub Container Registry token
GITHUB_TOKEN=ghtoken
